.Type-name{
    display: 'flex';
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
}
.Type-div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}
  
.TypeCard-div {
    margin-bottom: 1rem;
    flex-basis: calc(33.33% - 1em);
    text-decoration: none;
}