.Brand-name{
   text-transform: capitalize;
   text-align: center;
}

.Brand-div {
   display: flex;
   flex-wrap: wrap;
   width: 80%;
   margin-left: 10%;
}
 
.BrandCard-div {
   margin-bottom: 1rem;
   flex-basis: calc(33.33% - 1em);
   text-decoration: none;
}